[submodule "back"]
        path = back
        url = git@github.com:Achalogy/pg-back.git
[submodule "front"]
        path = front
        url = git@github.com:Achalogy/pg-front.git
[submodule "db"]
        path = db
        url = git@github.com:Achalogy/pg-db.git
[submodule "bruno"]
        path = bruno
        url = git@github.com:Achalogy/pg-bruno.git
