[submodule "back"]
	path = back
	url = https://github.com/achalogy/pm-back
[submodule "front"]
	path = front
	url = https://github.com/achalogy/pm-front
[submodule "db"]
	path = db
	url = https://github.com/achalogy/pm-db
[submodule "bruno"]
	path = bruno
	url = https://github.com/achalogy/pm-bruno
